<div class="container">
    <div class="row">
        <h1 class="mx-auto m-5 display-1">About</h1>
    </div>

    <div class="row">
        <h4 class="text-center mx-auto">
            ながのCAKEは全国発送可能なケーキ屋さんです。<br/>
            お子様からお年寄りの方までお召し上がりいただけるよう、<br/>
            様々なバリエーションをご用意しております。<br/>
            また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br/>
            ぜひご注文ください。
        </h4>
    </div>

    <div class="row">
        <%= image_tag 'about.jpg', class: "about-img mx-auto my-5" %>
    </div>
</div>