<div class="container">
  <div class="row">
    <h4 class="m-5 px-4 bg-light">配送先登録/一覧</h4>
  </div>

  <%= form_with model: @address do |f| %>
    <div class="row">
      <p class="col-sm-4 col-md-3 col-lg-2 text-nowrap">
        郵便番号（ハイフンなし）
      </p>
    </div>
  <% end %>
</div>